.DS_Store

# Frontend
frontend/node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Backend
__pycache__
backend/venv
.venv
flask.db


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
